Repository DSorlov/swemail: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-manifest, validate-translations

.pre-commit-config.yaml:

# Pre-commit configuration for code quality
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203,W503]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
      - id: validate-manifest
        name: Validate manifest.json
        entry: python
        language: system
        files: manifest\.json$
        args: [-c, "import json, sys; json.load(open(sys.argv[1]))"]
      
      - id: validate-translations
        name: Validate translation files
        entry: python
        language: system
        files: translations/.*\.json$
        args: [-c, "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"]

Linting issues fixed
  custom_components/swemail/__init__.py
  custom_components/swemail/config_flow.py
  custom_components/swemail/const.py
  custom_components/swemail/manifest.json
  custom_components/swemail/sensor.py
  custom_components/swemail/system_health.py
  custom_components/swemail/woker/__init__.py
Due: validate-manifest

More linting fixes
  custom_components/swemail/config_flow.py
  custom_components/swemail/sensor.py
  custom_components/swemail/woker/__init__.py
Due: none

Fixes
  .flake8
  .github/workflows/ci.yaml
  custom_components/swemail/__init__.py
  custom_components/swemail/config_flow.py
  custom_components/swemail/sensor.py
  custom_components/swemail/system_health.py
  custom_components/swemail/woker/__init__.py
Due: none

fixed broken method
  CHANGELOG.md
  custom_components/swemail/__init__.py
Due: none

Fixed broken static paths
  CHANGELOG.md
  custom_components/swemail/__init__.py
Due: none

Upgrade fixes
  CHANGELOG.md
  custom_components/swemail/__init__.py
  custom_components/swemail/config_flow.py
  custom_components/swemail/sensor.py
Due: none

Removed static resources
  CHANGELOG.md
  custom_components/swemail/__init__.py
  custom_components/swemail/citymail.png
  custom_components/swemail/postnord.png
  custom_components/swemail/sensor.py
Due: none

Update README.md
  README.md
Due: none

Refactor config flow and improve error handling
  custom_components/swemail/config_flow.py
Due: none

Refactor config flow for postal code validation
  custom_components/swemail/config_flow.py
Due: none

Add error handling for postal city fetching
  custom_components/swemail/config_flow.py
Due: none

Refactor warning log for postal city fetch failure
  custom_components/swemail/config_flow.py
Due: none

Implement synchronous fetch method for delivery data and the new postnord api
  custom_components/swemail/woker/__init__.py
Due: none

Fix indentation in warning log for postal city fetch
  custom_components/swemail/config_flow.py
Due: none

Fix formatting and logging issues in __init__.py
  custom_components/swemail/woker/__init__.py
Due: none

Formatting fix in the code
  custom_components/swemail/config_flow.py
Due: none

Refactor __repr__ and update data handling
  custom_components/swemail/woker/__init__.py
Due: none

Refactor user input handling in config flow
  custom_components/swemail/config_flow.py
Due: none

Refactor user input handling in config flow with black
  custom_components/swemail/config_flow.py
Due: none

Reformatted with black
  custom_components/swemail/woker/__init__.py
Due: none

Update manifest.json
  custom_components/swemail/manifest.json
Due: validate-manifest

Update const.py
  custom_components/swemail/const.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Revise README with updated badges and installation steps
  README.md
Due: none

Update supported versions in SECURITY.md
  SECURITY.md
Due: none

Add files via upload
  custom_components/swemail/__init__.py
  custom_components/swemail/config_flow.py
  custom_components/swemail/const.py
  custom_components/swemail/manifest.json
  custom_components/swemail/sensor.py
  custom_components/swemail/system_health.py
Due: validate-manifest

Add files via upload
  custom_components/swemail/woker/__init__.py
Due: none

Delete custom_components/swemail/translations directory
  custom_components/swemail/translations/ar.json
  custom_components/swemail/translations/da.json
  custom_components/swemail/translations/en.json
  custom_components/swemail/translations/es.json
  custom_components/swemail/translations/fi.json
  custom_components/swemail/translations/fr.json
  custom_components/swemail/translations/is.json
  custom_components/swemail/translations/no.json
  custom_components/swemail/translations/sv.json
  custom_components/swemail/translations/tr.json
  custom_components/swemail/translations/uk.json
Due: validate-translations

Add files via upload
  custom_components/swemail/translations/en.json
  custom_components/swemail/translations/fr.json
  custom_components/swemail/translations/sv.json
Due: validate-translations

Add files via upload
  custom_components/swemail/config_flow.py
  custom_components/swemail/woker/__init__.py
Due: none

2.1.0
  .github/workflows/ci.yaml
  .github/workflows/hacs.yaml
  .gitignore
  CHANGELOG.md
  README.md
  blueprints/automation/swemail/mail_delivery_today.yaml
  blueprints/automation/swemail/mail_delivery_tomorrow.yaml
  conftest.py
  custom_components/swemail/__init__.py
  custom_components/swemail/api/__init__.py
  custom_components/swemail/binary_sensor.py
  custom_components/swemail/calendar.py
  custom_components/swemail/config_flow.py
  custom_components/swemail/const.py
  custom_components/swemail/coordinator.py
  custom_components/swemail/device_trigger.py
  custom_components/swemail/diagnostics.py
  custom_components/swemail/manifest.json
  custom_components/swemail/sensor.py
  custom_components/swemail/strings.json
  custom_components/swemail/system_health.py
  custom_components/swemail/translations/ar.json
  custom_components/swemail/translations/da.json
  custom_components/swemail/translations/es.json
  custom_components/swemail/translations/fi.json
  custom_components/swemail/translations/fr.json
  custom_components/swemail/translations/is.json
  custom_components/swemail/translations/no.json
  custom_components/swemail/translations/sv.json
  custom_components/swemail/translations/tr.json
  custom_components/swemail/translations/uk.json
  tests/test_worker.py
Due: validate-manifest, validate-translations

2.1.0-ci-fix
  custom_components/swemail/binary_sensor.py
  custom_components/swemail/config_flow.py
  custom_components/swemail/coordinator.py
  custom_components/swemail/device_trigger.py
  custom_components/swemail/system_health.py
  custom_components/swemail/translations/ar.json
  custom_components/swemail/translations/da.json
  custom_components/swemail/translations/es.json
  custom_components/swemail/translations/fi.json
  custom_components/swemail/translations/fr.json
  custom_components/swemail/translations/is.json
  custom_components/swemail/translations/no.json
  custom_components/swemail/translations/tr.json
  custom_components/swemail/translations/uk.json
Due: validate-translations

ci: unify setup-python to v6 and sync README HA version badge
  .github/workflows/ci.yaml
  .github/workflows/hacs.yaml
  README.md
Due: none

ci: unify setup-python to v6 and sync README HA version badge (#45)
  .github/workflows/ci.yaml
  .github/workflows/hacs.yaml
  README.md
Due: none

manifest: drop aiohttp requirement (provided by Home Assistant core)
  custom_components/swemail/manifest.json
Due: validate-manifest

manifest: drop aiohttp requirement (provided by Home Assistant core) (#46)
  custom_components/swemail/manifest.json
Due: validate-manifest

Update version badge to 2.1.1
  README.md
Due: none
